.destacados-title {
    display: flex;
    align-self: self-start;
    font-family: "Inter", system-ui, sans-serif;
    padding: 15px;
    transition: color 0.3s ease;
    margin-left: 20px;
    letter-spacing: 0.8px;

}

h1,
h2 {
    font-weight: 800;
    color: #fffb00dc;
    min-width: 50%;
    text-transform: uppercase;
    font-size: 1.8rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-left: 6px solid #fffb00cc;
    /* dorado o color principal */
    display: inline-block;
    border-radius: 4px;
}

h5 {
    font-weight: 800;
    color: #fffb00dc;
    min-width: 50%;
    text-transform: uppercase;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-left: 6px solid #fffb00cc;
    /* dorado o color principal */
    display: inline-block;
    border-radius: 4px;
}

.destacados-home a {
    text-decoration: none;
}

.destacados-home a:hover {
    text-decoration: none;
}

.destacados-home {
    color: #1a1a1a !important;
    padding-bottom: 20px;
    background-image: url('../assets/fondo-madera.png');
    background-repeat: no-repeat;
    /* evita repetición */
    background-size: cover;
    /* cubre toda el área */
    background-attachment: fixed;
}

.destacados-enlace-products {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-content: flex-end;
    text-align: end;
}

.link-flecha {
    display: flex;
    font-size: 1.5rem;
    justify-content: end;
    margin-top: 15px;
    text-decoration: none;
    color: #fffb00dc;
    font-weight: 600;
    transition: all 0.3s ease;
}

.link-flecha:hover {
    color: #ffd000;
    /* cambia si querés otro tono */
    transform: translateX(-15px);
    text-decoration: none;
}

.link-flecha:hover::after {
    content: " →";
    transform: translateX(1px);
    transition: transform 0.8s ease;
}