/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía y colores base */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #ffffff;

  /* Suavizado de fuentes */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estructura general */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Enlaces */
a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Botones */
button {
  border: none;
  border-radius: 6px;
  padding: 0.6em 1.2em;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #333;
}

/* Titulares */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

/* Texto general */
p {
  color: #222;
}

/* Para configurar el los fondos del body según la ruta*/
.body-dark {
  background-color: #0f1815 !important;
  color: #fff;
}

.body-light {
  background-color: #f5f2ed !important;
  color: #1a1a1a;
}